apache-beam==2.63.0 ; python_version >= "3.11"
async-timeout==5.0.1 ; python_full_version < "3.11.3" and python_version >= "3.11"
attrs==25.1.0 ; python_version >= "3.11"
black==25.1.0 ; python_version >= "3.11"
certifi==2025.1.31 ; python_version >= "3.11"
cffi==1.17.1 ; platform_python_implementation == "PyPy" and python_version >= "3.11"
charset-normalizer==3.4.1 ; python_version >= "3.11"
click==8.1.8 ; python_version >= "3.11"
cloudpickle==2.2.1 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and platform_system == "Windows"
crcmod==1.7 ; python_version >= "3.11"
dill==0.3.1.1 ; python_version >= "3.11"
dnspython==2.7.0 ; python_version >= "3.11"
docopt==0.6.2 ; python_version >= "3.11"
fastavro==1.10.0 ; python_version >= "3.11"
fasteners==0.19 ; python_version >= "3.11"
flake8==7.0.0 ; python_version >= "3.11"
grpcio==1.65.5 ; python_version >= "3.11"
hdfs==2.7.3 ; python_version >= "3.11"
httplib2==0.22.0 ; python_version >= "3.11"
idna==3.10 ; python_version >= "3.11"
jsonpickle==3.4.2 ; python_version >= "3.11"
jsonschema-specifications==2024.10.1 ; python_version >= "3.11"
jsonschema==4.23.0 ; python_version >= "3.11"
mccabe==0.7.0 ; python_version >= "3.11"
msgspec==0.19.0 ; python_version >= "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.11"
numpy==2.2.3 ; python_version >= "3.11"
objsize==0.7.1 ; python_version >= "3.11"
orjson==3.10.15 ; python_version >= "3.11"
packaging==24.2 ; python_version >= "3.11"
pandas==2.2.3 ; python_version >= "3.11"
parameterized==0.9.0 ; python_version >= "3.11"
pathspec==0.12.1 ; python_version >= "3.11"
platformdirs==4.3.6 ; python_version >= "3.11"
proto-plus==1.26.1 ; python_version >= "3.11"
protobuf==5.29.3 ; python_version >= "3.11"
pyarrow-hotfix==0.6 ; python_version >= "3.11"
pyarrow==16.1.0 ; python_version >= "3.11"
pycodestyle==2.11.1 ; python_version >= "3.11"
pycparser==2.22 ; platform_python_implementation == "PyPy" and python_version >= "3.11"
pydot==1.4.2 ; python_version >= "3.11"
pyflakes==3.2.0 ; python_version >= "3.11"
pymongo==4.11.2 ; python_version >= "3.11"
pyparsing==3.2.1 ; python_version >= "3.11"
pyproject-flake8==7.0.0 ; python_version >= "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.11"
pytz==2025.1 ; python_version >= "3.11"
pyyaml==6.0.2 ; python_version >= "3.11"
redis==5.2.1 ; python_version >= "3.11"
referencing==0.36.2 ; python_version >= "3.11"
regex==2024.11.6 ; python_version >= "3.11"
requests==2.32.3 ; python_version >= "3.11"
rpds-py==0.23.1 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.11"
sortedcontainers==2.4.0 ; python_version >= "3.11"
typing-extensions==4.12.2 ; python_version >= "3.11"
tzdata==2025.1 ; python_version >= "3.11"
urllib3==2.3.0 ; python_version >= "3.11"
zstandard==0.23.0 ; python_version >= "3.11"
